
body {
    background-color: #2a2b2a;   
    font-family: Arial, sans-serif;
    color: #333;                 
    margin: 20px;
}


h1 {
    color: #96989a;              
    text-align: center;
}


p {
    color: #aaacad;             
    font-size: 18px;
    text-align: center;
}
